<html ng-app="homeAuto">

<head>
	<script src="lib/angular/angular.js"></script>
	<script>
		var app = angular.module('homeAuto', []);

		app.controller("lightCtrl", function($scope) {
			$scope.rooms = [{
				'name': 'kitchen',
				'floor': 1,
				'lights': [{
					'on': true
				}, {
					'on': false
				}, {
					'on': false
				}]
			}, {
				'name': 'dinning room',
				'floor': 1,
				'lights': [{
					'on': false
				}]
			}, {
				'name': 'family room',
				'floor': 1,
				'lights': [{
					'on': true
				}, {
					'on': false
				}, {
					'on': true
				}, {
					'on': false
				}]
			}, {
				'name': 'den',
				'floor': 2,
				'lights': [{
					'on': true
				}, {
					'on': false
				}]
			}];
		});
	</script>
	<style>
		th {text-align: left;}
	</style>

</head>

<body ng-controller="lightCtrl">
	<table>
		<tr>
			<th>Room</th>
			<th>Floor of house</th>
			<th>Number of lights</th>
			<th>Toggle Lights</th>
		</tr>

		<tr ng-repeat="i in rooms">
			<td>{{i.name}}</td>
			<td>{{i.floor}}</td>
			<td>{{i.lights.length}}</td>
			<td>
				<input type="checkbox" ng-repeat="light in i.lights" ng-model="light.on">
			</td>
		</tr>
		
		<tr>
			<th>Monitor the state of the lights</th>
		</tr>

		<tr ng-repeat="room in rooms">
			<td>{{room.name}}</td>
			<td>
				<input type="checkbox" ng-repeat="light in room.lights" ng-model="light.on">
			</td>
		</tr>

	</table>

</body>

</html>